body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    font-family: 'Bungee', cursive;
    color: white;
    background-color: black;
    cursor: url('../images/mallet-up.png') 26 52, pointer;
    /* http://samcroft.co.uk/2012/alternative-to-webkit-tap-highlight-color-in-phonegap-apps/ */
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
    position: fixed;
}

body:active {
    cursor: url('../images/mallet-down.png') 26 52, pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 14.5%;
    margin-top: 5%;
}

header aside {
    padding: 3px;
    width: 22.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 3px; */
}

#top-center {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 5px;
}

h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
}

.display {
    /* height: 38px; */
    height: 40%;
    width: 70%;
    margin: 0 0 5px 0;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-family: 'Orbitron', sans-serif;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 0 0 0;
}

div.display-padding {
    height: 3%;
}

#timer-display {
    width: 40%;
    height: 50%;
    /* font-size: 40px; */
    /* margin-bottom: 0; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    padding-top: 0;
}

#game-container {
    margin-top: -15%;
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "button-0 button-1 button-2"
    "button-3 button-4 button-5"
    "button-6 button-7 button-8"
    "button-9 button-10 button-11"
}

#button-0 {
    grid-area: button-0;
}
#button-1 {
    grid-area: button-1;
}
#button-2 {
    grid-area: button-2;
}
#button-3 {
    grid-area: button-3;
}
#button-4 {
    grid-area: button-4;
}
#button-5 {
    grid-area: button-5;
}
#button-6 {
    grid-area: button-6;
}
#button-7 {
    grid-area: button-7;
}
#button-8 {
    grid-area: button-8;
}
#button-9 {
    grid-area: button-9;
}
#button-10 {
    grid-area: button-10;
}
#button-11 {
    grid-area: button-11;
}



/* table {
    height: 100%;
    width: 90%;
} */

/* tr {
    height: 25%;
} */

/* tr td {
    width: 33.3333%;
    cursor: url('../images/mallet-up.png') 26 52, pointer;
    text-align: center;
} */

/* td:active {
    cursor: url('../images/mallet-down.png') 26 52, pointer;
} */

.click-container {
    /* background-color: yellow; */
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* padding-right: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div button {
    /* height: 100px;
    width: 100px; */
    height: 90%;
    width: 90%;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    cursor: url('../images/mallet-up.png') 26 52, pointer;
}

div button:active {
    cursor: url('../images/mallet-down.png') 26 52, pointer;
    /* border: 5px solid white; */
}


footer {
    height: 14.5%;
    /* display: grid; */
    /* grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "start-area mallet-area" */
}

#start-area {
    grid-area: start-area;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}



footer section button {
    height: 25%;
    width: 25%;
    position: absolute;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0;
    outline: none;
    cursor: pointer;   
}

#start-button-click:active {
    color: black;
    background-color: white;
}

button {
    background-color: transparent;
    font-family: 'Bungee', cursive;
    font-size: 15px;
    outline: none;
}


#mallet-area {
    grid-area: mallet-area;
    height: 100%;
}

#top-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-height: 800px) and (max-width: 412px){
    #game-container {
        width: 90%;
    }  

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.15em;
    }

    footer section button {
        width: 30%;
        height: 30%;
    }
}

@media only screen and (min-width: 768px) {  
    #game-container {
        margin-top: -5%;
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "button-0 button-1 button-2 button-3"
        "button-4 button-5 button-6 button-7"
        "button-8 button-9 button-10 button-11"
    }

    h1 {
        font-size: 2.25em;
    }
    
    h2 {
        font-size: 1.75em;
    }

    footer section button {
        font-size: 2.25em;
        height: 22%;
        width: 22%;
    }

    main {
        height: 60%;
    }

    .display {
        font-size: 3em;
        width: 45%;
    }

    #timer-display {
        width: 30%;
    }

    footer {
        height: 19.5%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
        grid-template-areas:
        "header header"
        "footer main"
    }

    
   
    #game-container{
       width: 70%;
       margin-top: 0%;
   }

   .click-container {
       width: 100%;
   }

   

   /* header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 14.5%;
    margin-top: 5%; */


    header {
       margin-top: 0%;
       grid-area: header;
       height: 100%
   }

   main {
       grid-area: main;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   footer {
       grid-area: footer;
       height: 100%;
   }

   

   #start-area {
        /* grid-area: start-area; */
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 100%;
    }

    footer section button {
        height: 68.5%;
        width: 68.5%;
        font-size: 2em;   
    }

   

}