body {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0 auto;

    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 


    color: white;
    background-color: black;
    font-family: 'Bungee', cursive;
    cursor: url('../images/mallet-up.png') 26 52, pointer;

    display: grid;
    grid-template-rows: .75fr 3.75fr 1.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}

body:active {
    cursor: url('../images/mallet-down.png') 26 52, pointer;
}

#rotate-message {
    display: none;
}


header {
    grid-area: header;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 60px;
}

.display-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 8vh;
    height: 5.5vh;

    max-width: 80px;
    max-height: 70px;

    border: 2px solid white;
}

.display {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.75em;

    margin-top: 10%;
}

h1 {
    font-size: 1.2em;
    text-decoration: underline;
}

h2 {
    font-size: 1em;
}

/* header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#game-container {
    height: 100%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.click-container {
    width: 15vh;
    height: 15vh;

    max-width: 150px;
    max-height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.click-button {
    height: 95%;
    width: 95%;
    border: 2px solid white;
    border-radius: 50%;
    cursor: url('../images/mallet-up.png') 26 52, pointer;
    outline: none;
}

.click-button:active {
    cursor: url('../images/mallet-down.png') 26 52, pointer;
}


footer {
    grid-area: footer;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
/*adjust padding-top as needed for mobile view. looks good with a little, though*/
    padding-top: .5vh;
}

/* #start-area {
    padding-top: 0vh;
} */

#high-score {
    padding-top: 1.5vh;
}

.start-button {
    background-color: black;
    color: white;
    width: 12.5vh;
    height: 12.5vh;
    font-size: .75em;
    font-family: 'Bungee', cursive;

    max-width: 150px;
    max-height: 150px;

}

#start-button-click:active {
    background-color: white;
    color: black;
}

#high-score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#high-score > h2 {
    margin-top: 0;
    margin-bottom: 1vh;
}


/*code cleaned through here*/
@media only screen and (max-width: 450px) and (min-height: 800px) {
    body {
        grid-template-rows: .75fr 4fr 1.2fr;
    }

    .click-container {
        height: 27vw;
        width: 27vw;
    }

    .start-button {
        height: 23vw;
        width: 23vw;
    }

    footer {
        align-items: flex-start;
    }
}
/*below media query locks phones in portraid mode https://code-boxx.com/lock-screen-orientation/*/
@media only screen and (max-width: 1023px) and (max-height: 414px) and (orientation: landscape) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    #rotate-message {
        display: block;
        font-size: 2em;
    }
    header {
        display: none;
    }
    main {
        display: none;
    }
    footer {
        display: none;
    }  
}

@media only screen and (min-width: 768px) {

    body {
        grid-template-rows: .75fr 3.75fr 1.2fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
    }

    header {
        justify-content: space-evenly;
    }

    header div {
        width: 33vw;
    }

    
    
    h1 {
        font-size: 1.9em;
    }
    
    h2 {
        font-size: 1.65em;
    }  
    .display {
        font-size: 2.75em;
    }

    .start-button {
        font-size: 1.25em;
    }

    /* .display-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 8vh;
        height: 5.5vh;
        border: 2px solid white;
    } */
    .display-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 8vh;
        height: 8vh;
        border: 2px solid white;
    }  
}

@media only screen and (min-width: 1024px){
    body {
        grid-template-rows: .75fr 4fr;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
        "header header"
        "footer main"
    }
    /* #game-container {
        height: 100%;
        width: 80%;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    } */

    /* header {
        grid-area: header;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } */
    
    header {
        grid-area: header;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    header div {
        width: 20vw;
    }

    .mid-header-div {
        width: 30vw;
    }
    
    #game-container {
        height: 90  %;
        width: 90%;
    
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    /* footer {
        grid-area: footer;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    } */

    footer {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /* .display-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 8vh;
        height: 5.5vh;
        border: 2px solid white;
    } */

    .display-wrapper {    
        width: 8vw;
        height: 5vw;
    }

    .display {
        font-size: 2.5em;
    }

    .click-container {
        height: 20vh;
        width: 20vh;

    
        max-width: 180px;
        max-height: 180px; 
    }

    .start-button {
        height: 15vw;
        width: 15vw;
        font-size: 1.75em;
    }

    
}

